{% load static compress i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>{% trans 'SHcollage' %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <meta name="theme-color" content="#ff6f61">
        <meta name="application-name" content="{% trans 'SHcollage' %}">

        <meta name="mobile-web-app-capable" content="yes">
        <link rel="manifest" href="{% static "manifest.json" %}">

        <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
        <link rel="icon" type="image/png" sizes="18x18" href="{% static "img/appicon/18x18.png" %}">
        <link rel="icon" type="image/png" sizes="24x24" href="{% static "img/appicon/24x24.png" %}">
        <link rel="icon" type="image/png" sizes="36x36" href="{% static "img/appicon/36x36.png" %}">
        <link rel="icon" type="image/png" sizes="48x48" href="{% static "img/appicon/48x48.png" %}">
        <link rel="icon" type="image/png" sizes="72x72" href="{% static "img/appicon/72x72.png" %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/appicon/96x96.png" %}">
        <link rel="icon" type="image/png" sizes="128x128" href="{% static "img/appicon/128x128.png" %}">
        <link rel="icon" type="image/png" sizes="144x144" href="{% static "img/appicon/144x144.png" %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static "img/appicon/192x192.png" %}">

        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Open+Sans:400,600&subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

        {% compress css inline %}
            <link rel="stylesheet" href="{% static 'css/index.css' %}">
            {% block extra_css %}{% endblock %}
        {% endcompress %}
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>